{% for program_item in program_items -%}
{% if program_item.session_header is defined -%}



<!-- session header -->
<li class="ui-li ui-bar-a prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 700">
    {{ program_item.time }} {{ program_item.title }}
  </h3>
  {% if program_item.extra_links is defined -%}
  <h5>{{ program_item.extra_links }}</h5>
  {% endif -%}
</li>
<!-- end session header -->



{% endif -%}
{% if program_item.break is defined -%}



<!-- start break item -->
<li class="prog-break prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 500;">
    <strong>{{ program_item.time }} {{ program_item.break_type }}</strong>
  </h3>
</li>
<li class="hidden">Tea/Coffee/Meal Break</li>
<!-- end break item -->



{% endif -%}
{% if program_item.paper is defined -%}



<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
  {% if program_item.abstract is defined -%}
  <div data-role="collapsible" class="paper-navgroup" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>
        <div style="width: 78%">
          <p class="keynote-header">
            <div>
            <h2>{{ program_item.title }} </h2>
            <p>{{ program_item.authors }}</p>
            </div>
          </p>
        </div>
        <div class="ui-li-aside">
          {% if program_item.paper_link is defined -%}
          <div class="button-paper">
            <a href="{{ program_item.paper_link }}" onclick="window.location='{{ program_item.paper_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-file-text" aria-hidden="true"></i></a>
          </div>
          {% endif -%}
          {% if program_item.poster_link is defined -%}
          <div class="button-paper">
            <a href="{{ program_item.poster_link }}" onclick="window.location='{{ program_item.poster_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-photo" aria-hidden="true"></i></a>
          </div>
          {% endif -%}
          {% if program_item.video_link is defined -%}
          <div class="button-paper">
            <a href="{{ program_item.video_link }}" onclick="window.location='{{ program_item.video_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
          </div>
          {% endif -%}
        </div>
      </h4>
      <ul data-role="listview" data-inset="false">
        <li data-icon="false">
            <p>
              <b>Abstract: </b> {{ program_item.abstract }}
            </p>
            <p>&nbsp;</p>
        </li>
      </ul>
  </div>
  {% else -%}
  <!-- no abstract on the item -->
  <div style="width: 78%">
  <p class="paper-header">
    <h2>{{ program_item.title }}</h2>
  </p>
  <p> {{ program_item.authors }} </p>
  </div>
  <div class="ui-li-aside">
    {% if program_item.paper_link is defined -%}
    <div class="button-paper">
      <a href="{{ program_item.paper_link }}" onclick="window.location='{{ program_item.paper_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-file-text" aria-hidden="true"></i></a>
    </div>
    {% endif -%}
    {% if program_item.poster_link is defined -%}
    <div class="button-paper">
      <a href="{{ program_item.poster_link }}" onclick="window.location='{{ program_item.poster_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-photo" aria-hidden="true"></i></a>
    </div>
    {% endif -%}
    {% if program_item.video_link is defined -%}
    <div class="button-paper">
      <a href="{{ program_item.video_link }}" onclick="window.location='{{ program_item.video_link }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
    </div>
    {% endif -%}
  </div>
  {% endif -%}
</li>
<!-- end single item in a session -->


{%  endif -%}
{% if program_item.keynote is defined -%}



<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
      <table>
         <tr>             
             <td style="font-size:100%; padding-right:10px; max-width:20%;"><b>{{ program_item.time }}</b></td>
             <td style="font-size:120%; width:100%;text-align:left;">
               <p class="paper-header">
                 {{ program_item.keynote_title }}
               </p>
               {% if program_item.keynote_speaker is defined -%}
               <p><strong>Speakers&#58;</strong> {{ program_item.keynote_speaker }}</p>
               {% endif -%}
             </td>
         </tr>
  </table>
</li>
<!-- end single item in a session -->

{% endif -%}
{% if program_item.day_header is defined -%}

<!-- day header --->
<li class="prog-header prog-no-filter ui-bar-a prog-item prog-{{ program_item.day }}">
   <h3>{{ program_item.day_title }}</h3>
</li>
<!-- end day header -->



{% endif -%}
{% if program_item.program_start is defined -%}

<div class="content-primary">
  <h1 id="acm-sigcomm-2020-workshop-on-network-meets-ai--ml-netai-2020">ACM
    SIGCOMM 2020 Networking Networking Women Professional Development
    Workshop (N2Women&rsquo;20):
</h1>

<!--
<p><strong>August 10*, 2020 (Virtual)</strong></p>
<p><strong>Workshop --
    --Co-Chairs: </strong><a href="https://www.cs.purdue.edu/homes/chunyi/">Chunyi --
    --Peng (Purdue --
    --University)</a>, <a href="https://research.fb.com/people/zhang-ying/">Ying --
    --Zhang (Facebook)</a></p>
-->

<!-- <p><b>Due to the still significant statutory travel restrictions and -->
<!--   coronavirus outbreak, it is the first &ldquo;virtual&rdquo; N2Women -->
<!--   workshop, which will be co-hosted on the same virtual platform as -->
<!--   SIGCOMM&rsquo;20.</b></p> -->




<p>This workshop has an associated Slack channel for discussions. Click on the link below to visit it. If you're asked to sign in, use the workspace name &quot;sigcomm.slack.com&quot; to sign up or sign in.</p>

<a class="button" data-role="button" href="https://app.slack.com/client/T0107RGGMU6/C0186DGJBH6">Go to workshop Slack channel</a>
<br/>

<p>The N2Women workshop aims to foster connections among the
under-represented women in computer networking and related research
fields. The 10th N2Women Workshop also welcomes <em>men</em> who share
the same research interests, attend the same conferences, and often
face the same career hurdles and obstacles to join us!</p>

<a class="button" data-role="button" href="https://forms.gle/DTePTuRXt9BCrR4Y9">Register for the N2Women workshop</a>

<h3 id="post-workshop-announcements">Post-workshop announcements</h3>

<ul>
  <li>The <b>Best Poster Award</b> goes to "Using Network Localization
    Algorithms for Digital Contact Logging Applications", by Lillian
    Clark (University of Southern California); Alan Papalia
    (Massachusetts Institute of Technology); Luca Mastrostefano (Covid
    Community Alert); Jonata Tyska Carvalho (Federal University of
    Santa Catarina); Bhaskar Krishnamachari (University of Southern
    California).<br/><br/>
  </li>

  <li>The <b>Runners-Up</b> for the Best Poster Award are
    <ul>
      <li>"FDP: A
        teaching and demo platform for P4-based SDN" by Heena Nagda
        (Georgia Institute of Technology); Rakesh Nagda, Isaac Pedisich,
        Nik Sultana, Boon Thau Loo (University of Pennsylvania), and</li>

      <li>"Footprint and Performance of Large Cloud Networks" by Jia
      He, Weifan Jiang, Ege Gurmericliler, Georgia Essig (Columbia
      University); Arpit Gupta (UC Santa Barbara); Matt Calder
      (Microsoft); Vasileios Giotsas (Lancaster University); Italo
      Cunha (Universidade Federal de Minas Gerais); Ethan
        Katz-Bassett, Todd Arnold (Columbia University)
    </ul>
    <br/>

    Congratulations to all the authors of the winning posters!
    <br/><br/>
  </li>

  <li>
    We are collecting feedback for our workshop. Please
    visit <a href='https://docs.google.com/forms/d/e/1FAIpQLSeYhuLeUB6ZxKhkr46Sl8MC_2-pmFz0WomEzs9MIK9RqNSNbg/viewform'>the
    feedback form!</a>
  </li>

</ul>

<h3 id="workshop-program">Workshop program</h1>

<div id="n2women-program" class="n2women-program">
    <ul class="program" data-role="listview" data-filter="true" data-inset="true" data-theme="d" data-dividertheme="a" placeholder="Filter program...">

{% endif -%}
{% if program_item.program_end is defined -%}


    </ul>
</div> <!-- n2-women-program -->

<p>The N2Women workshop has three main goals:</p>
<ul>
<li>Connect newer generations of networking women researchers with the community and create mentorship relationships;</li>
<li>Create a research forum in which students and junior researchers learn and discuss current trends in networking, present their research and receive feedback;</li>
<li>Engage a diverse body of junior researchers in the field.</li>
</ul>


<h3 id="whats-new">What&rsquo;s new this year</h3>
<ul>
<li>Best poster award, and &ldquo;surprises&rdquo; for best poster and runners-up</li>
<li>E-travel grant of FREE SIGCOMM&rsquo;20 registration for one
  author per accepted poster</li>
<li>N2Women fellowship (see information below)</li>
</ul>

<h3 id="-important-dates"><i class="fa fa-calendar"></i> Important Dates</h3>

<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="datetbl">

  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><h2>Aug 2/Aug 9, 2020</h2></div>
      <div class="ui-block-b"><p>Registration deadline</p></div>
    </div>
  </li>

  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><h2><mark>Aug 3, 2020</mark></h2></div>
      <div class="ui-block-b"><p>N2Women Young Researcher Fellowship
      award deadline</p></div>
    </div>
  </li>  
  
    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>July 27, 2020 11:59PM AoE</h2></div>
        <div class="ui-block-b"><p>Poster abstract submission</p></div>
      </div>
    </li>
  
    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>July 31, 2020</h2></div>
        <div class="ui-block-b"><p>Notification of acceptance</p></div>
      </div>
    </li>

    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>August 7, 2020</h2></div>
        <div class="ui-block-b"><p>Final poster (video presentation) due</p></div>
      </div>
    </li>

    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>August 10, 2020</h2></div>
        <div class="ui-block-b"><p>Workshop date</p></div>
      </div>
    </li>
    
</ul>

<p>Submit your poster abstract
  at <a href="https://n2women20.hotcrp.com/">https://n2women20.hotcrp.com/</a>.</p>

<!-- <h3>Workshop Program (TBD)</h3> -->


<h3 id="call-for-posters">Call for Posters</h3>
<p>Posters are solicited for research related to <em>any aspect</em> of networking and communications. All researchers in the networking and communications fields are welcome to submit their work for presentation at this workshop. Posters will not be published and can therefore be under submission to other conferences or workshops.</p>

<p>Authors of accepted posters will be required to present their work as part of a lightning presentations session. Presenting a poster is a great opportunity, especially for students and junior researchers, to obtain interesting and valuable feedback on ongoing research from mentors and a knowledgeable crowd at the workshop.</p>

<p>Participants with accepted posters are highly encouraged to examine if they are eligible for workshop e-travel grants which include FREE SIGCOMM&rsquo;20 registration.</p>

<p>One poster will be selected to receive a <strong>Best Poster
    Award</strong>. Both best poster award and runners-up will receive
  a <strong>&ldquo;big surprise&rdquo;</strong> award.&nbsp;&nbsp;</p>

<p>Submit your poster abstract
  at <a href="https://n2women20.hotcrp.com/">https://n2women20.hotcrp.com/</a>.</p>

<h3 id="poster-submission">Poster Submission</h3>

<p>Each submission should be f Each submission should be formatted as an extended abstract, describing the research to be presented in the poster. All submissions should be written in English with <strong>a maximum paper length of TWO</strong> printed pages including all figures and references. Authors must follow <strong>the standard ACM two-column conference format (single-spaced 8.5&rdquo; x 11&rdquo; pages with 9-pt font size)</strong>. The extended abstract must include the names, affiliations and email addresses of all authors and should be submitted as a single PDF file.</p>

<p>The extended abstract must include the names, affiliations and
  email addresses of all authors and should be submitted as a single
  PDF file
  at <a href="https://n2women20.hotcrp.com/">https://n2women20.hotcrp.com/</a></p>

<p>For any question or information,
please <a href="mailto:chunyi@purdue.edu,zhangying@fb.com?subject=[SIGCOMM
2020]">contact the workshop chairs.</a></p>

<h3 id="camera-ready-instructions">Camera-ready instructions</h3>

<p>Please submit the camera-ready version no later than Aug 3, 2020 (the
sooner the better). Review comments are available at the submission
website
(<a href="https://n2women20.hotcrp.com">https://n2women20.hotcrp.com</a>). Please
revise your title as Poster: [old title]. Once submitted, your poster
abstract (pdf) will be released at the workshop website.</p>

<p><b>Prepare a video before the event.</b> To boost our interactivity
  online, we request each accepted poster  to upload your poster and
  1-min video prior to the workshop no later than Aug 8, 2020. 1-min
  video is a short presentation recorded in advance to reach the
  public. Both poster and 1-min video will be released at the workshop
  site as well.
</p>

<h3 id="registration">Registration</h3>

  <p>Registration to the workshop is FREE but required.</p>

  <a class="button" data-role="button" href="https://forms.gle/DTePTuRXt9BCrR4Y9">Register for the N2Women workshop</a>
    
  <p>At least one author per accepted poster must be registered.</p>

  <p>The deadline for registration is August 2nd (for those who are eligible for free SIGCOMM'20 registration per accepted poster) and August 9 otherwise.</p>


  <p>SIGCOMM’20 will boost communication on
    Slack. Please <a href="https://join.slack.com/t/sigcomm/shared_invite/zt-erk5tjkg-bsoSc1UXlOY03uU~E2zPVA">join
    our Slack channel</a> if you have not already. Here is the channel
    for our N2women workshop: #sigcomm2020-workshop-n2women
    (<a href="https://app.slack.com/client/T0107RGGMU6/C0186DGJBH6">direct
    link</a>). You are encouraged to interact with others and do Q&amp;A
    on Slack.</p>

    <p>More specific instructions on how to attend this workshop will be released
    shortly and sent to those registered attendees. </p>

  
<h3 id="mentoring-program">Mentoring Program</h3>
<p>N2Women&rsquo;20 will have a mentor/mentee program. We would like to extend mentoring throughout the week for the students who are attending SIGCOMM virtually. This year, we will create a few mentoring sessions with different focused questions.</p>

<p>You are also welcome to attend mentoring sessions organized by SIGCOMM&rsquo;20 throughout the SIGCOMM week.&nbsp;&nbsp;</p>

<p>We are looking for mentors who can host mentees with similar research interests during N2Womean and the main SIGCOMM conference and workshops. If you are a SIGCOMM regular attendee and a senior researcher, please consider volunteering as a mentor. If you are interested in helping out, please email N2Women&rsquo;20 workshop co-chairs or the mentor chair of SIGCOMM&rsquo;20.</p>

<h3 id="young-investigator-fellowship-award">Call for Fellowship
  Awards</h3>

<p>N2Women is pleased to announce the continuation of our N2Women Young
Researcher Fellowship awards. N2Women considers you a young researcher
if you are currently a student, working as a post-doc, or in the 1st
or 2nd year of your new research career. These awards will partially
cover a young researcher's conference cost (up to $1000) to a meeting
where an N2Women event will be held. In exchange, the young researcher
must help organize the N2Women meeting. The benefit of doing the
organization, in addition to the funds, is for the young researcher to
connect with the organizers of the conference who are, typically,
leaders in the research field. We will arrange for a faculty or
research member of N2Women to assist/mentor the young researcher in
this task.</p>
           
<p>Support for these N2Women Young Researcher Fellowship awards have been
generously provided by ACM SIGMOBILE, ACM SIGCOMM, IEEE Communications
Society, and IEEE Computer Society (CS) Technical Committee on
Computer Communications (TCCC).</p>
           
<p>To apply for a fellowship or for more information, visit
<a href="http://committees.comsoc.org/n2women/">http://committees.comsoc.org/n2women/</a>
and click the Fellowships link.</p>
 
<p>The deadline for applications for Sigcomm 2020 is
<mark>August 3rd 2020.</mark></p>

<h3 id="committees">Committee</h3>

<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="tbl">
  
    <li data-role="list-divider" style="white-space: normal;
                                        padding-right:.5em">Workshop chairs
    </li>

      <li data-icon="false">
      
        
          <div class="ui-grid-a">
            <div class="ui-block-a">
              <p>
                
                Chunyi Peng
              </p>
            </div>
            <div class="ui-block-b"><p>Purdue University</p></div>
          </div>
          
      </li>  
    
      
      <li data-icon="false">
      
        
          <div class="ui-grid-a">
            <div class="ui-block-a">
              <p>
                
                Ying Zhang
              </p>
            </div>
            <div class="ui-block-b"><p>Facebook</p></div>
          </div>
          
      </li>
</ul>

<p>Please contact the workshop chairs Chunyi Peng (<a href="mailto:chunyi@purdue.edu?subject=[SIGCOMM 2020]">chunyi-at-purdue-dot-edu</a>) and Ying Zhang (<a href="mailto:zhangying@fb.com?subject=[SIGCOMM 2020]">zhangying-at-fb-dot-com</a>) for any relevant question or information.</p>

</div> <!-- content-primary -->

{% endif -%}

{% endfor -%}
