{% for program_item in program_items -%}
{% if program_item.session_header is defined -%}



<!-- session header -->
<li class="ui-li ui-bar-a prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 700">
    {{ program_item.time }} {{ program_item.title }}
  </h3>
</li>
<!-- end session header -->



{% endif -%}
{% if program_item.break is defined -%}



<!-- start break item -->
<li class="prog-break prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 500;">
    <strong>{{ program_item.time }} {{ program_item.break_type }}</strong>
  </h3>
</li>
<li class="hidden">Tea/Coffee/Meal Break</li>
<!-- end break item -->



{% endif -%}
{% if program_item.keynote is defined -%}



<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
  {% if program_item.abstract is defined -%}
  <div data-role="collapsible" class="paper-navgroup" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>
        <div style="width: 78%">
          <p class="keynote-header">
            <div>
            <h2>{{ program_item.title }} </h2>
            <p>{{ program_item.authors }}</p>
            </div>
          </p>
        </div>
      </h4>
      <ul data-role="listview" data-inset="false">
        <li data-icon="false">
            <p>
              <b>Abstract: </b> {{ program_item.abstract }}
            </p>
            <p>
              <b>Bio: </b> {{ program_item.bio }}
            </p>
            <p>&nbsp;</p>
        </li>
      </ul>
  </div>
  {% endif -%}
</li>
<!-- end single item in a session -->


{%  endif -%}
{% if program_item.paper is defined -%}


<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
      <table>
         <tr>             
             <td style="font-size:100%; padding-right:10px; max-width:20%;"><b>{{ program_item.time }}</b></td>
             <td style="font-size:100%; width:100%;text-align:left;">
               <p class="paper-header">
                 {{ program_item.title }}
               </p>
               {% if program_item.authors is defined -%}
               <p><strong>Authors&#58;</strong> {{ program_item.authors }}</p>
               {% endif -%}
             </td>
         </tr>
  </table>
</li>
<!-- end single item in a session -->

{% endif -%}
{% if program_item.day_header is defined -%}

<!-- day header --->
<li class="prog-header prog-no-filter ui-bar-a prog-item prog-{{ program_item.day }}">
   <h3>{{ program_item.day_title }}</h3>
</li>
<!-- end day header -->



{% endif -%}
{% if program_item.program_start is defined -%}

        <div class="content-primary">
          <h1 id="acm-sigcomm-2020-workshop-on-hot-topics-in-video-analytics-and-intelligent-edges-2020-hotedgevideo-2020">ACM
          SIGCOMM 2020 Workshop on Hot Topics in Video Analytics and
            Intelligent Edges (HotEdgeVideo 2020)</h1>

<p>This workshop has an associated Slack channel for discussions. Click on the link below to visit it. If you're asked to sign in, use the workspace name &quot;sigcomm.slack.com&quot; to sign up or sign in.</p>

<a class="button" data-role="button" href="https://app.slack.com/client/T0107RGGMU6/C017F720APP">Go to workshop Slack channel</a>
          
<h3 id="workshop-program">Workshop program</h1>

<p>The program below is also available at <a href="https://www.microsoft.com/en-us/research/event/the-2nd-workshop-on-hot-topics-in-video-analytics-and-intelligent-edges/">https://www.microsoft.com/en-us/research/event/the-2nd-workshop-on-hot-topics-in-video-analytics-and-intelligent-edges/</a>.

<div id="hotedgevideo-program" class="hotedgevideo-program">
    <ul class="program" data-role="listview" data-filter="true" data-inset="true" data-theme="d" data-dividertheme="a" placeholder="Filter program...">


{% endif -%}
{% if program_item.program_end is defined -%}


    </ul>
</div> <!-- hotedgevideo-program -->

          <h3 id="call-for-papers">Call for Papers</h3>

          <p>Cameras are everywhere! Analyzing live videos from these
          cameras has great potential to impact science and
          society. Enterprise cameras are deployed for a wide variety
          of commercial and security reasons. Consumer devices
          themselves have cameras with users interested in analyzing
          live videos from these devices. We are all living in the
          golden era for computer vision and AI that is being fueled
          by game-changing systemic infrastructure advancements,
          breakthroughs in machine learning, and copious training
          data, largely improving their range of capabilities. Live
          video analytics has the potential to impact a wide range of
          verticals ranging from public safety, traffic efficiency,
          infrastructure planning, entertainment, and home safety.</p>

          <p>Analyzing live video streams is arguably the most
            challenging of domains for "systems-for-AI". Unlike text
            or numeric processing, video analytics require higher
            bandwidth, consume considerable compute cycles for
            processing, necessitate richer query semantics, and demand
            tighter security &amp; privacy guarantees. Video analytics
            has a symbiotic relationship with edge compute
            infrastructure. Edge computing makes compute resources
            available closer to the data sources (i.e., cameras). All
            aspects of video analytics call to be designed
            “green-field”, from vision algorithms, to the systems
            processing stack and networking links, and hybrid
            edge-cloud infrastructure. Such a holistic design will
            enable the democratization of live video analytics such
            that any organization with cameras can obtain value from
            video analytics.</p>

          <h3 id="topics-of-interest">Topics of Interest</h3>

This workshop calls for research on various issues and solutions that can enable live video analytics with the role for edge computing. Topics of interest include (but not limited to) the following:
<ul>
 	<li>Low-cost video analytics</li>
 	<li>Deployment experience with large array of cameras</li>
 	<li>Storage of video data and metadata</li>
 	<li>Interactive querying of video streams</li>
 	<li>Network design for video streams</li>
 	<li>Hybrid cloud architectures for video processing</li>
 	<li>Scheduling for multi-tenant video processing</li>
 	<li>Training of vision neural networks</li>
 	<li>Edge-based processor architectures for video processing</li>
 	<li>Energy-efficient system design for video analytics</li>
 	<li>Intelligent camera designs</li>
 	<li>Vehicular and drone-based video analytics</li>
 	<li>Tools and datasets for video analytics systems</li>
 	<li>Novel vision applications</li>
 	<li>Video analytics for social good</li>
 	<li>Secure processing of video analytics</li>
 	<li>Privacy-preserving techniques for video processing</li>
</ul>


<h3 id="submission-instructions">Submission Instructions</h3>

<p>Submissions must be original, unpublished work, and not under
  consideration at another conference or journal. Submitted papers
  must be no longer than five (5) pages, including all figures,
  tables, followed by as many pages as necessary for bibliographic
  references. Submissions should be in two-column 10pt ACM format with
  authors names and affiliations for single-blind peer review. The
  workshop also solicits the submission of research, platform, and
  product demonstrations. Demo submission should be a summary or
  extended abstract describing the research to be presented, maximum
  one (1) page with font no smaller than 10 point size, in PDF file
  format. Demo submission title should begin with "Demo:".</p>


<p>Authors of accepted papers are expected to present their work at
  the workshop. Papers accepted for presentation will be published in
  the SIGCOMM Workshop Proceedings, and available at the ACM Digital
  Library. You may find
  these <a href="https://sigmobile.org/mobicom/2018/files/sig-alternate-10pt.cls">LaTeX</a>
  and <a href="https://sigmobile.org/mobicom/2018/files/word-acm-10pt-on-12pt-7.0x9.25.doc">MS-Word</a>
  templates useful in complying with the above requirements.</p>


<p>Submit your work at <a href="https://hotedgevideo20.hotcrp.com/">https://hotedgevideo20.hotcrp.com/</a></p>

  
<h3 id="-important-dates"><i class="fa fa-calendar"></i> Important Dates</h3>

<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="datetbl">

    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2><mark>May 11, 2020 11:59 PST</mark></h2></div>
        <div class="ui-block-b"><p>Paper submission deadline</p></div>
      </div>
    </li>
  
    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>May 31, 2020 11:59 PST</h2></div>
        <div class="ui-block-b"><p>Paper acceptance notification</p></div>
      </div>
    </li>

    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>June 10, 2020 11:59 PST</h2></div>
        <div class="ui-block-b"><p>Camera-ready papers due</p></div>
      </div>
    </li>

    <li data-icon="false">
      <div class="ui-grid-a">
        <div class="ui-block-a"><h2>August 10, 2020</h2></div>
        <div class="ui-block-b"><p>Workshop</p></div>
      </div>
    </li>
    
</ul>

<h3 id="committees">Program Committee</h3>


<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="tbl">

    <li data-role="list-divider" style="white-space: normal;
    padding-right:.5em">Program Committee
    </li>

    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Ganesh Ananthanarayanan (co-chair)
          </p>
        </div>
        <div class="ui-block-b"><p>Microsoft Research</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Junchen Jiang
          </p>
        </div>
        <div class="ui-block-b"><p>University of Chicago</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Yunxin Liu (co-chair)
          </p>
        </div>
        <div class="ui-block-b"><p>Microsoft Research</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Padmanabhan (Babu) Pillai
          </p>
        </div>
        <div class="ui-block-b"><p>Intel Labs and CMU</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Yuanchao Shu (co-chair)
          </p>
        </div>
        <div class="ui-block-b"><p>Microsoft Research</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Chenren Xu
          </p>
        </div>
        <div class="ui-block-b"><p>Peking University</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Fengyuan Xu
          </p>
        </div>
        <div class="ui-block-b"><p>Nanjing University</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Harry Xu
          </p>
        </div>
        <div class="ui-block-b"><p>University of California, Los
            Angeles</p></div>
      </div>

    </li>
    
    <li data-icon="false">

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <p>
            Mi Zhang
          </p>
        </div>
        <div class="ui-block-b"><p>Michigan State University</p></div>
      </div>

    </li>
    

</ul>

    
</div> <!-- content-primary -->

{% endif -%}
{% endfor -%}
