{% for program_item in program_items -%}
{% if program_item.session_header is defined -%}



<!-- session header -->
<li class="ui-li ui-bar-a prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 700">
    {{ program_item.time }} {{ program_item.title }}
  </h3>
</li>
<!-- end session header -->



{% endif -%}
{% if program_item.break is defined -%}



<!-- start break item -->
<li class="prog-break prog-item ui-li-divider prog-{{ program_item.day }}" data-role="list-divider">
  <h3 style="font-weight: 500;">
    <strong>{{ program_item.time }} {{ program_item.break_type }}</strong>
  </h3>
</li>
<li class="hidden">Tea/Coffee/Meal Break</li>
<!-- end break item -->



{% endif -%}
{% if program_item.paper is defined -%}



<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
  {% if program_item.abstract is defined -%}
  <div data-role="collapsible" class="paper-navgroup" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>
        <div style="width: 78%">
          <p class="keynote-header">
          <table>
            <tr>
              <td style="font-size:80%; padding-right:10px; max-width:20%;">{{ program_item.time }}</td>
              <td style="width:100%; text-align:left;">
                <h2>{{ program_item.title }}</h2>
                <p>{{ program_item.authors }}</p>
              </td>
            </tr>
          </table>
          </p>
        </div>
        <!-- Note: no talk slides, as of now. -->
        <!-- <div class="ui-li-aside"> -->
        <!--   <div class="button-paper"> -->
        <!--     <a href="{{ program_item.paperlink }}" onclick="window.location='{{ program_item.paperlink }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-file-text" aria-hidden="true"></i></a> -->
        <!--   </div> -->
        <!-- </div> -->
      </h4>
      <ul data-role="listview" data-inset="false">
        <li data-icon="false">
          <table>
            <tr>
              <td width="20%">
                {% if program_item.image_link is defined -%}
                <img src="{{ program_item.image_link }}" style="max-width: 90%" />
                {% endif -%}
              </td>
              <td>
            <p>
              <b>Abstract: </b> {{ program_item.abstract }}
            </p>
            {% if program_item.bio is defined -%}
            <br/>
            <p>
              <b>Bio: </b> {{ program_item.bio }}
            </p>
            {% endif -%}
            <p>&nbsp;</p>
              </td>
            </tr>
          </table>
        </li>
      </ul>
  </div>
  {% else -%}
  <div style="width: 78%">
  <p class="paper-header">
    <h2>{{ program_item.title }}</h2>
  </p>
  <p> {{ program_item.authors }} </p>
  </div>
  <div class="ui-li-aside">
    <div class="button-paper">
      <a href="{{ program_item.paperlink }}" onclick="window.location='{{ program_item.paperlink }}'; event.stopPropagation();" rel="external" class="ui-link"><i class="fa fa-file-text" aria-hidden="true"></i></a>
    </div>
  </div>
  {% endif -%}
</li>
<!-- end single item in a session -->


{%  endif -%}
{% if program_item.qa_item is defined -%}

<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
  <div style="width: 78%">
    <p class="paper-header">
          <table>
            <tr>
              <td style="font-size:80%; padding-right:10px; max-width:20%;"><b>{{ program_item.time }}</b></td>
              <td style="width:100%; text-align:left;">
                <h2>{{ program_item.qa_title }}</h2>
              </td>
            </tr>
          </table>
  </p>
  </div>
</li>
<!-- end single item in a session -->




{% endif -%}
{% if program_item.keynote is defined -%}



<!-- single item in a session -->
<li data-icon="false" class="prog-item prog-{{ program_item.day }}">
      <table>
         <tr>             
             <td style="font-size:100%; padding-right:10px; max-width:20%;"><b>{{ program_item.time }}</b></td>
             <td style="font-size:120%; width:100%;text-align:left;">
               <p class="paper-header">
                 {{ program_item.keynote_title }}
               </p>
               {% if program_item.keynote_speaker is defined -%}
               {{ program_item.keynote_speaker }}</p>
               {% endif -%}
               {% if program_item.speaker_images is defined -%}
               <br/>
               {% for image_data in program_item.speaker_images -%}
               <img src="{{ image_data.image_link }}" alt="{{ image_data.alt_text }}" style="max-width: 20%;" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               {% endfor -%}
               {% endif -%}
             </td>
         </tr>
  </table>
</li>
<!-- end single item in a session -->

{% endif -%}
{% if program_item.day_header is defined -%}

<!-- day header --->
<li class="prog-header prog-no-filter ui-bar-a prog-item prog-{{ program_item.day }}">
   <h3>{{ program_item.day_title }}</h3>
</li>
<!-- end day header -->



{% endif -%}
{% if program_item.program_start is defined -%}

      <div class="content-primary">
        <h1 id="acm-sigcomm-2020-workshop-on-traffic-manipulation-mantra-2020">ACM
          SIGCOMM 2020 Workshop on Traffic Manipulation (ManTra 2020)</h1>

        <p>The workshop has an associated Slack channel for
        discussions. Click on the link below to visit it. If you're
        asked to sign in, use the workspace name
        &quot;sigcomm.slack.com&quot; to sign up or sign in.</p>

        <a class="button" data-role="button"
        href="https://app.slack.com/client/T0107RGGMU6/C0171RB6TNK">Go
        to workshop Slack channel</a> 
        <br/>

<div id="mantra-program" class="mantra-program">
    <ul class="program" data-role="listview" data-filter="true" data-inset="true" data-theme="d" data-dividertheme="a" placeholder="Filter program...">


{% endif -%}
{% if program_item.program_end is defined -%}


    </ul>
</div> <!-- mantra-program -->

        <h3 id="call-for-papers">Call for Papers</h3>

        <p>Network attacks using traffic manipulation can have profound societal consequences. These attacks are
          increasing in frequency, sophistication, and stealthiness. Motivations behind these attacks vary from
          financial, political, terrorism, and more. These attacks can be performed by off-path or by on-path
          (Man-in-the-Middle (MitM)) attackers or by malicious operators. Traffic manipulations include attacks
          injecting malicious packets into the communication stream (e.g., injecting malicious scripts into TCP
          connections), manipulating time over NTP, attacking the IP layer by exploiting IP fragmentation for DNS cache
          poisoning, as well as redirecting communication, e.g., via BGP prefix hijacks. Traffic manipulation attacks
          aim to cause various types of denial of service, theft of crypto-currency, distribution of malware, disruption
          of governmental or financial organisations, censorship or surveillance.</p>

        <p>The ManTra workshop provides a forum for researchers, practitioners, network operators, and the Internet
          standards community to present and discuss the state of the art in traffic manipulation attacks and
          countermeasures. The workshop considers different types of attackers, from very strong ones such as the
          corrupt operators and MitM adversaries to weak off-path attackers and different type of attacks, all that
          utilise manipulation of traffic for achieving the attack goal, as well as the defences against them. The
          attacks can be sophisticated, utilising corruption of multiple building blocks in concert, or simple, against
          one specific system or protocol.</p>

        <p>The goal of the ManTra workshop is to provide a venue that focuses exclusively on traffic manipulation
          attacks in the Internet and countermeasures against them, presenting a broad view of technologies and
          approaches for manipulating traffic (from injections into the communication stream to hijacking
          communication), evaluations and simulations thereof, identification of new techniques and vulnerabilities,
          bringing together researchers and practitioners in all areas of computer, networks and systems security for
          studying the problems and paving the ways towards deployment of defences. Works which identify new
          vulnerabilities allowing traffic manipulation attacks, works which evaluate attacks in the wild, or works that
          perform measurements to understand the scope or extent of the attacks as well as techniques used to launch
          them in the wild are all welcome.</p>

        <p><a href="http://conferences.sigcomm.org/sigcomm/2020/resources/ManTra20.pdf"
        data-role="button" class="button">Download this call as a PDF</a></p>

        <h3 id="topics-of-interest">Topics of Interest</h3>
        <p>Refereed paper submissions are solicited in all areas relating to research in traffic manipulations (incl.
          injections into all layers of TCP/IP and traffic hijacks) and defences, including but not limited to:</p>

        <ul>
          <li>Inter/Intra-domain routing security</li>
          <li>BGP/DNS security</li>
          <li>Privacy aspects of defences against traffic manipulation attacks</li>
          <li>Deployment of defences for routing against traffic hijacks (RPKI, BGPsec, ...)</li>
          <li>Deployment of defences against DNS cache poisoning (DNSSEC, ...)</li>
          <li>Internet measurements and simulations of attacks and defences</li>
          <li>Attacks against Internet Exchange Points</li>
          <li>In-network defences (e.g., in the data plane)</li>
          <li>Practical crypto-based defences</li>
          <li>Deployability and usability studies</li>
          <li>Leveraging traffic hijacks for sophisticated attacks against other systems and applications</li>
          <li>IP spoofing</li>
          <li>TCP/UDP/IP injection attacks</li>
          <li>Techniques for bypassing challenge-response authentication (ports, sequence numbers, ...)</li>
          <li>Sensor/Ad-hoc networks</li>
          <li>TCP/IP layers including link and physical layers</li>
          <li>Software Defined Networks (SDN)</li>
          <li>SDN data/control plane injections/hijacks</li>
        </ul>

        <h3 id="submission-instructions">Submission Instructions</h3>
        <p>Mantra’20 welcomes original submissions of unpublished work from academia, independent researchers, students,
          hackers, industry. The submissions must not be under consideration at another conference or journal.
          Submitted papers must use the new ACM template (using sigconf document type) from the <a
            href="https://www.acm.org/publications/proceedings-template">2018 ACM consolidated template package</a>
          The <strong>font size must be 10 points</strong>.
          Submitted
          papers must be in PDF format, <strong>at most six (6)</strong> pages long, including all figures, tables, and
          unlimited number
          of pages for references. Papers must include authors names and affiliations for
          single-blind peer reviewing by the PC. Authors of accepted papers are expected to present their papers at the
          workshop. The proceedings will be included in the ACM Digital Library.</p>

        Papers must include author’s names and
        affiliations for single-blind peer reviewing by the PC. Authors of accepted papers are expected to present
        their papers at the workshop.</p>

        <p><strong>Paper Submission:</strong></p>

        <p>Please submit your paper via <a
            href="https://sigcomm20mantra.hotcrp.com/">https://sigcomm20mantra.hotcrp.com/</a>.</p>

        <h3 id="authors-take-note">Authors Take Note</h3>
        <p>The official publication date is the date the proceedings are made available in the ACM Digital Library. This
          date may be up to TWO WEEKS prior to the first day of the conference. The official publication date affects
          the deadline for any patent filings related to published work.</p>

        <h3 id="systematisation-of-knowledge">Systematisation of Knowledge</h3>
        <p>ManTra’20 welcomes also Systematisation of Knowledge (SoK) papers that evaluate and systemise state of the
          art in traffic manipulation. Such works include surveys and taxonomy of aspects related to traffic
          manipulation as well as papers that provide validation (through simulations or evaluations) of theories or
          folklore beliefs.</p>

        <h3 id="workshop-format">Workshop Format</h3>
        <p>The workshop will consist of presentations of peer-reviewed papers accepted for publication, of invited
          talks, mini-tutorials, and a panel discussion to encourage interaction among attendees. Everyone can
          register to participate in the workshop.</p>

        <h3 id="registration">Registration</h3>
        <p>Attendance of the workshop is by open registration and subject to the same registration fees and rules as all
          the other SIGCOMM 2019 workshops. The registrants of the workshop may freely attend any workshop on the same
          day.</p>

        <h3 id="camera-ready-instructions">Camera-ready instructions</h3>

        <p>For the final paper to be published, please refer to <a
            href="/sigcomm/2020/camera-ready_ws.html">Camera-ready instructions for workshops</a>.</p>

        <h3 id="-important-dates"><i class="fa fa-calendar"></i> Important Dates</h3>

        <ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="datetbl">

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <h2>May 1, 2020</h2>
              </div>
              <div class="ui-block-b">
                <p>Submission deadline (firm)</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <h2>May 31, 2020</h2>
              </div>
              <div class="ui-block-b">
                <p>Paper acceptance notification</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <h2>June 10, 2020</h2>
              </div>
              <div class="ui-block-b">
                <p>Camera-ready deadline</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <h2>August 14, 2020</h2>
              </div>
              <div class="ui-block-b">
                <p>Workshop date</p>
              </div>
            </div>
          </li>

        </ul>

        <h3 id="committees">Committees</h3>

        <ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="tbl">


          <li data-role="list-divider" style="white-space: normal; padding-right:.5em">Program Co-Chairs</li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Radia Perlman</p>
              </div>
              <div class="ui-block-b">
                <p>DELL/EMC</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Haya Shulman</p>
              </div>
              <div class="ui-block-b">
                <p>Fraunhofer Institute for Secure Information Technology (SIT)</p>
              </div>
            </div>
          </li>

          <li data-role="list-divider" style="white-space: normal; padding-right:.5em">Program Committee Chairs</li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Mark Allman</p>
              </div>
              <div class="ui-block-b">
                <p>International Computer Science Institute (ICSI)</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Steven Bellovin</p>
              </div>
              <div class="ui-block-b">
                <p>Columbia University</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Danny Dolev</p>
              </div>
              <div class="ui-block-b">
                <p>The Hebrew University of Jerusalem</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Nick Feamster</p>
              </div>
              <div class="ui-block-b">
                <p>University of Chicago</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Amir Herzberg</p>
              </div>
              <div class="ui-block-b">
                <p>University of Connecticut</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Trent Jaeger</p>
              </div>
              <div class="ui-block-b">
                <p>The Pennsylvania State University</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Charlie Kaufman</p>
              </div>
              <div class="ui-block-b">
                <p>DELL/EMC</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Adrian Perrig</p>
              </div>
              <div class="ui-block-b">
                <p>ETH Zurich</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Zhiyun Qian</p>
              </div>
              <div class="ui-block-b">
                <p>UC Riverside</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Jennifer Rexford</p>
              </div>
              <div class="ui-block-b">
                <p>Princeton</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Michael Waidner</p>
              </div>
              <div class="ui-block-b">
                <p>Technische Universität Darmstadt</p>
              </div>
            </div>
          </li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Bing Wang</p>
              </div>
              <div class="ui-block-b">
                <p>University of Connecticut</p>
              </div>
            </div>
          </li>

          <li data-role="list-divider" style="white-space: normal; padding-right:.5em">Web and HotCRP Chair</li>

          <li data-icon="false">
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <p>Markus Brandt</p>
              </div>
              <div class="ui-block-b">
                <p>Fraunhofer Institute for Secure Information Technology (SIT)</p>
              </div>
            </div>
          </li>

        </ul>


      </div><!-- content-primary -->


{% endif -%}

{% endfor -%}
